/* fontti koko sivustolle */
body {
    font-family: "Garamond", sans-serif !important;
    background-color: rgb(227, 229, 227);
}

main {
    width: 85%;
    /* Rajoittaa pääsisällön leveyden */
    margin: 20px auto;
    /* Ylä/alamarginaali 0, vasen/oikea auto = Keskitys */
}

/* Linkkien värin korjaus pääsisällössä (riippumatta siitä, missä elementissä ne ovat) */
main a {
    color: rgb(0, 68, 153); 
}

/* navigaatiopalkin taustan väri */
.navbar {
    background-color: rgb(239, 249, 229) !important;
}

/* navigaatiopalkin tekstin väri */
.navbar a {
    color: rgb(5, 106, 18) !important;
    font-weight: bold !important;
}

/* aktiivisen navigaatiopalkin linkin väri */
.navbar a.active {
    color: #2954a8 !important;
}

/* etusivun kuvan asetukset, kohdistetaan vain json-datan tuomaan kuvaan */
#index img {
    width: 80% !important;
    /* kuvan leveyden säätöä, poistettu max-width, koska kuvan koko ei muuttunut  */
    height: auto !important;
    /* korkeuden säätö automaattisesti, ettei kuva veny */
    /*varmistaa, että kuva on keskellä */
    display: block;
    margin: auto;
}

#toteutus img {
    /* responsiivinen kuva, maksimissaan 80% elementin leveydestä  */
    max-width: 80%;
    /* korkeuden säätö automaattisesti, ettei kuva veny */
    height: auto;
    /* kuva lohkoelementiksi */
    display: block;
    /* kuva jää vasempaan laitaan, ilman ylimääräisiä marginaaleja */
    margin: 0;

}

/* pokemon-kuvan koon suurentaminen */
#kuva2 img {
    width: 200px;
    height: auto;
}

/* sääkuvan koon pienentäminen */
#saakuva img {
    width: 130px;
    height: auto;
    max-width: 100%;
}