/* fontti koko sivustolle */
body {
    font-family: "Garamond", sans-serif !important;
}

/* navigaatiopalkin taustan väri */
.navbar {
    background-color: rgb(238, 244, 231) !important;
}

/* navigaatiopalkin tekstin väri */
.navbar a {
color: rgb(38, 158, 54) !important;
font-weight: bold !important;
}

/* aktiivisen navigaatiopalkin linkin väri */
.navbar a.active {
    color: #035810 !important;
}
