/* fontti koko sivustolle */
body {
    font-family: "Garamond", sans-serif !important;
}

main {
    width:85%; /* Rajoittaa pääsisällön leveyden */
    margin: 20px auto; /* Ylä/alamarginaali 0, vasen/oikea auto = Keskitys */
}

/* navigaatiopalkin taustan väri */
.navbar {
    background-color: rgb(238, 244, 231) !important;
}

/* navigaatiopalkin tekstin väri */
.navbar a {
color: rgb(38, 158, 54) !important;
font-weight: bold !important;
}

/* aktiivisen navigaatiopalkin linkin väri */
.navbar a.active {
    color: #035810 !important;
}

/* kaikkien kuvien maksimileveyden asettaminen */
img {
    max-width: 90% !important; /* kuvan maksimileveys näytöstä */
    height: auto !important; /* korkeuden säätö automaattisesti, ettei kuva veny */
    /*varmistaa, että kuva on keskellä */
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}